.titlebar-nav {
    background-color: aqua;
    width: 100%;
}

h1 {
    padding-bottom: 0.2em;
    padding-left: 1em;
}

.table-head {
    text-align: center;
    padding: 1em;
}

.table-data {
    border: 3px solid black;
    padding: 1em;
}

.btn-color {
    color: cadetblue;
}